@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Reem+Kufi+Ink&family=Roboto+Slab:wght@300&display=swap");
.nav-a {
  position: fixed;
  top: 0;
  padding-inline: 2rem;
}
.logo-div img {
  width: 6vw;
  z-index: 9;
  height: 10vh;
  object-fit: cover;
  transition: all 0.5s ease;
}
.block {
  width: 17vw;
  height: 10vh;
  position: absolute;
  left: -7%;
  background-color: #171717;
  z-index: 7;
}
.logo-div {
  transition: all 0.7s ease;
  background-color: #171717;
}
.logo-div:hover {
  color: white;
}
.logo-div:hover img {
  transform: rotate(180deg);
  filter: grayscale(100%);
}
.logo-div h2 {
  position: absolute;
  width: max-content;
  left: -15%;
  color: #171717;
  transition: all 1s ease;
  z-index: 2;
}
.logo-div:hover h2 {
  left: 15%;
  color: #707070;
}

.lr {
  display: inline-flex;
  flex-direction: row;
}
.jcc {
  justify-content: center;
}
.jsb {
  justify-content: space-between;
}
.ud {
  display: inline-flex;
  flex-direction: column;
}
.aic {
  align-items: center;
}
.logo-div {
  width: fit-content;
  gap: 1rem;
}
.logo-div {
  padding-block: 1rem;
  color: #707070;
  text-align: start;
}
.logo-div h2 {
  font-family: "Reem Kufi Ink", sans-serif;
}
.parallax-bg {
  /* filter: blur(4px); */
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
.main {
  background-image: url("../assets/images/NELSON_dark.png");
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}
.g-1 {
  gap: 1rem;
}
.g-2 {
  gap: 2rem;
}
.tac {
  text-align: center;
}
.intro {
  font-family: "Roboto Slab", serif;
  font-size: 10vh;
  color: #707070;
}
* {
  font-family: "Barlow Condensed", sans-serif;
}
.white-hover {
  background-color: white;
  width: 30%;
  height: 10px;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
}
.name {
  background-color: rgba(255, 255, 255, 0);
}
.name:hover .white-hover {
  width: 90%;
}
.goat-name {
  color: white;
  font-size: 15vh;
  font-family: "Reem Kufi Ink", sans-serif;
}
.bg-transp {
  background-color: rgba(255, 255, 255, 0);
}
.red {
  color: red;
}
.c-grey {
  color: #707070;
}
.cursor {
  width: 10vh;
  height: 10vh;
  background-color: #707070;
  border-radius: 50%;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 99;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.15s ease;
}
.cursor-2 {
  width: 5vh;
  height: 5vh;
  border: 2px solid white;
  background-color: #00000000;
  border-radius: 50%;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 99;
  pointer-events: none;
  transform: translate(-30%, -40%);
  transition: all 0.3s ease-out;
}
.name:hover .cursor {
  transform: scale(3);
  /* mix-blend-mode: normal;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white; */
}
.hero-desc h4 {
  font-size: 3vh;
}
.menu {
  padding-block: 1.5rem;
  width: 150px;
  height: 10vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
.white-nav {
  background-color: #707070;
  width: inherit;
  height: 2px;
}
.menu:hover .white-nav {
  background-color: white;
}
.btn-holder {
  width: 100%;
  padding-block-start: 5rem;
}
.hero-btn {
  background-color: #17171700;
  border: 1px solid #707070;
  border-radius: 3px;
  width: 25%;
  color: white;
  font-weight: bold;
  display: flex;
  height: 6vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.hero-btn h4 {
  z-index: 9;
}
.hero-btn:hover {
  color: #171717;
}
.hero-btn:hover .btn-span {
  width: inherit;
}
.btn-span {
  position: absolute;
  height: inherit;
  border-radius: 4px;
  background-color: #707070;
  width: 0;
  transition: all 0.5s ease;
}
.line {
  padding-block: 5rem;
  background-color: #707070;
  height: 70vh;
  width: 3px;
  position: fixed;
  left: 5vw;
  top: 20vh;
  display: inline-flex;
}
.scroll-location {
  position: absolute;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(-45%, -50%);
  box-shadow: 0px 0px 10px white;
}
