@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Reem+Kufi+Ink&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Reenie+Beanie&display=swap");
.nav-a {
  position: fixed;
  top: 0;
  padding-inline: 2rem;
  z-index: 50;
  background-color: #00000000;
}
/* .nav-a:hover {
  backdrop-filter: blur(2px);
} */
.logo-div img {
  width: 6vw;
  z-index: 9;
  height: 10vh;
  object-fit: cover;
  transition: all 0.5s ease;
}
.logo-div {
  transition: all 0.7s ease;
  background-color: #00000000;
}
.logo-div:hover {
  color: white;
}
.logo-div:hover img {
  transform: rotate(deg);
  filter: grayscale(100%);
}
.logo-div h2 {
  position: absolute;
  width: max-content;
  left: -20%;
  color: #171717;
  transition: all 1s ease;
  z-index: 2;
}
.logo-div:hover h2 {
  left: 10%;
  color: #fff;
  filter: grayscale(1);
}

.lr {
  display: inline-flex;
  flex-direction: row;
}
.jcc {
  justify-content: center;
}
.jsb {
  justify-content: space-between;
}
.ud {
  display: inline-flex;
  flex-direction: column;
}
.aic {
  align-items: center;
}
.logo-div {
  width: fit-content;
  gap: 1rem;
}
.logo-div {
  padding-block: 1rem;
  color: #707070;
  text-align: start;
}
.logo-div h2 {
  font-family: "Reem Kufi Ink", sans-serif;
}
.parallax-bg {
  /* filter: blur(4px); */
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
.main {
  height: 100vh;
}
.g-1 {
  gap: 1rem;
}
.g-2 {
  gap: 2rem;
}
.tac {
  text-align: center;
}
.intro {
  font-family: "Reem Kufi Ink", sans-serif;
  font-size: 5vh;
  color: #fff;
}
* {
  font-family: "Barlow Condensed", sans-serif;
}
.white-hover {
  background-color: white;
  width: 30%;
  height: 10px;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #fff;
}
.name {
  background-color: rgba(255, 255, 255, 0);
}
.name:hover .white-hover {
  width: 90%;
}
.goat-name {
  color: white;
  font-size: 15vh;
  font-family: "Reem Kufi Ink", sans-serif;
  transition: all 0.3s ease;
}
.goat-name:hover {
  text-shadow: 0px 0px 10px #fff;
}
.bg-transp {
  background-color: rgba(255, 255, 255, 0);
}
.red {
  color: red;
}
.c-grey {
  color: #707070;
}
.c-white {
  color: #fff;
}
.cursor {
  width: 5vh;
  height: 5vh;
  background-color: #707070;
  border-radius: 50%;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 101;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.15s ease;
}
.cursor-2 {
  width: 10vh;
  height: 10vh;
  border: 2px solid white;
  background-color: #00000000;
  border-radius: 50%;
  position: fixed;
  mix-blend-mode: difference;
  z-index: 101;
  pointer-events: none;
  transform: translate(-30%, -40%);
  transition: all 0.3s ease-out;
  /* backdrop-filter: grayscale(1); */
}
.name:hover .cursor-2 {
  transform: scale(3);
  text-shadow: 0px 0px 10px #fff;
  /* mix-blend-mode: normal;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white; */
}
.hero-desc h4 {
  font-size: 3vh;
}
.menu {
  padding-block: 1.22rem;
  width: 150px;
  height: 10vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
.white-nav {
  background-color: #fff;
  width: inherit;
  height: 2px;
}
.menu:hover .white-nav {
  box-shadow: 0px 0px 5px #fff;
}
.h-fill {
  height: 100vh;
  background-image: url("../assets/images/NELSON.png"),
     url("../assets/images/grainbanner.gif");
  background-size: contain,  cover;
  background-repeat: no-repeat;
  background-position: right, center;
  background-attachment: local, fixed;
}
.btn-holder {
  width: 100%;
  padding-block-start: 5rem;
}
.hero-btn {
  background-color: #17171700;
  border: 2px solid #707070;
  border-radius: 3px;
  width: 25%;
  color: white;
  font-weight: bold;
  display: flex;
  height: 6vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hero-btn h4 {
  z-index: 9;
}
.hero-btn:hover {
  color: #171717;
}
.hero-btn:hover .btn-span {
  width: inherit;
}
.btn-span {
  position: absolute;
  height: inherit;
  border-radius: 4px;
  background-color: #707070;
  width: 0;
  transition: all 0.5s ease;
}
.line {
  padding-block: 5rem;
  background-color: #707070;
  height: 70vh;
  width: 3px;
  position: fixed;
  left: 5vw;
  top: 20vh;
  display: inline-flex;
  z-index: 50;
}
.scroll-location {
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(-45%, -50%);
  box-shadow: 0px 0px 10px #fff;
  filter: drop-shadow(2px 4px 6px black);
}
/* .row-title,
.row-letter {
  color: #fff;
  font-size: 28rem;
  font-weight: 500;
  position: relative;
  letter-spacing: -0.8rem;
  display: inline-block;
  white-space: nowrap;
  @media (max-width: $layout-breakpoint-xsmall) {
    font-size: 13rem;
  }
}
.row-col {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  @media (max-width: $layout-breakpoint-medium) {
    width: 70%;
  }
  @media (max-width: 1240px) {
    &:last-child {
      display: none;
    }
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    width: 100%;
    justify-content: flex-start;
  }
} */
/* .row-message {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  width: 50px;
}
.scroll {
  height: 160px;
  width: 160px;
  border-radius: 100%;
  background: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 160px;

  @media (max-width: 1240px) {
    left: 60px;
  }

  @media (max-width: 1240px) {
    display: none;
  }
}

.scroll span {
  font-size: 18px;
  font-weight: 600;
  margin: 4px 0;
  @media (max-width: $layout-breakpoint-xsmall) {
    font-size: 10px;
    margin: 2px 0;
  }
}

$move-initial: calc(-25%);
$move-final: calc(-50%);

.marquee {
  position: relative;
  overflow: hidden;
  &.animate .marquee__inner {
    animation-play-state: running;
  }
 
 
}

@keyframes marquee {
  0% {
    transform: translate3d($move-initial, 0, 0);
  }

  100% {
    transform: translate3d($move-final, 0, 0);
  }
}

@keyframes marquee-lg {
  0% {
    transform: translate3d(calc(-25% + 10vw), 0, 0);
  }

  100% {
    transform: translate3d(calc(-50% + 10vw), 0, 0);
  }
}
.row-title {
  padding: 0 8vw;
  @media (min-width: $layout-breakpoint-large) {
    padding: 0 10vw;
  }
}
.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d($move-initial, 0, 0);
  animation: all 5s linear infinite;
  animation-play-state: paused;

  @media (min-width: 1024px) {
    transform: translate3d(calc(-25% + 10vw), 0, 0);
    animation: marquee-lg 5s linear infinite;
    animation-play-state: paused;
  }
} */
.overlay {
  width: 100vw;
  position: fixed;
  top: 0;
  height: 100vh;
  align-items: center;
  background-image: url("../assets/images/test3.png");
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-block-start: 15rem;
}
