@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Reem+Kufi+Ink&family=Roboto+Slab:wght@300&display=swap");

.App {
  width: 100%;
  background-color: #171717;
  display: block;
  height: fit-content;
}
