@import url("https://fonts.googleapis.com/css2?family=K2D:wght@300&display=swap");

:root {
  --primary-orange: #ff5400;
  --primary-yellow: #ffbd00;
  --primary-golden:#cca711;
  --primary-dark-blue: #1e1e1e;
  --primary-grey: #d9d9d9;
  --primary-grey-dark: #838383;
  --primary-green: #008f3b;
  --primary-purple: #4940fd;
  --primary-font: "K2D", sans-serif;

  --primary-spacer: 1rem;
}
* {
  font-family: var(--primary-font);
}

body {
  margin: 0;
  width: 100vw;
  max-width: 100%;
  height: fit-content;
  position: relative;
  background-color: var(--primary-orange);
}

.flex-col {
  display: inline-flex;
  flex-direction: column;
}

.flex-row {
  display: inline-flex;
  flex-direction: row;
}
